 
<!--<button (click)="ensenar()">enseñar</button>-->
 <br>
 <br>
 <div class="container-fluid pa space" >


  <div class="card-deck" style="align-content: center">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Gastos</h5>
        </mdb-card-title>
        <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
          content. This
          content is a little bit longer.</mdb-card-text>
          <a href="#!" mdbBtn color="primary">Go somewhere</a>
      </mdb-card-body>
    </mdb-card>
  
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Provedores sancionados</h5>
        </mdb-card-title>
        <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
          content. This
          content is a little bit longer.</mdb-card-text>
          <a href="#!" mdbBtn color="primary">Go somewhere</a>
      </mdb-card-body>
    </mdb-card>
  
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Mejor provedor</h5>
        </mdb-card-title>
        <mdb-card-text>This is a wider card with supporting text below as a natural lead-in to additional
          content. This
          content is a little bit longer.</mdb-card-text>
          <a href="#!" mdbBtn color="primary">Go somewhere</a>
        
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
