<div class="container-fluid space">

  <!-- Material input -->
  <div class="row marg">
    <h3 class="text-cv">paso numero uno</h3>
      <input class="form-control form-control-lg" type="text" placeholder="Cargar logotipo de la empresa">
      <button type="button" class="btn btn-outline-primary waves-effect btn-i">Continuar</button>
  </div>
  <div class="row marg">
      <h3 class="text-cv">paso numero dos</h3>
      <input class="form-control form-control-lg" type="text" placeholder="nombres(s)">
      <button type="button" class="btn btn-outline-primary waves-effect btn-2">Regresar</button>
      <button type="button" class="btn btn-outline-primary waves-effect btn-2 ">Continuar</button>
  </div>
  <div class="row marg">
      <h3 class="text-cv">paso numero tres</h3>
      <input class="form-control form-control-lg" type="text" placeholder="RFC">
      <button type="button" class="btn btn-outline-primary waves-effect btn-2">Regresar</button>
      <button type="button" class="btn btn-outline-primary waves-effect btn-2 ">Continuar</button>
  </div>
  <div class="row marg">
      <h3 class="text-cv">paso numero cuatro</h3>
      <input class="form-control form-control-lg" type="text" placeholder="Monto sin I.V.A">
      <button type="button" class="btn btn-outline-primary waves-effect btn-2">Regresar</button>
      <button type="button" class="btn btn-outline-primary waves-effect btn-2 ">Continuar</button>
  </div>
  <div class="row marg">
      <h3 class="text-cv">paso numero cinco</h3>
      <input class="form-control form-control-lg" type="text" placeholder="Fecha de inico">
      <button type="button" class="btn btn-outline-primary waves-effect btn-2">Regresar</button>
      <button type="button" class="btn btn-outline-primary waves-effect btn-2 ">Continuar</button>
  </div>
  <div class="row marg">
      <h3 class="text-cv">paso numero seis</h3>
      <input class="form-control form-control-lg" type="text" placeholder="Fecha de Fin de Contrato">
      <button type="button" class="btn btn-outline-primary waves-effect btn-2">Regresar</button>
      <button type="button" class="btn btn-outline-primary waves-effect btn-2 ">Continuar</button>
  </div>
  <div class="row marg">
      
      <button type="button" class="btn btn-outline-primary waves-effect btn-i">Generar</button>
    
  </div>
 


</div>
