<div class="container-fluid space"><br><br><br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header primary-color-dark text-white d-flex justify-content-center align-items-center">
                <div class="text-pricinpald">
                    <h2><strong class="text-s">Bienvenidos.</strong></h2>
                </div>
            </div>
            <div class="card-body primary-color">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                    <img class="lo" src="../../../assets/imagenes/contraloria.png" alt="">
                              
                          </div>
                          </div>
                          </div>
                          


</div>

  
          
</div>
  </div>
  </div>

</div>

  <app-carrucel></app-carrucel>