<br>
<div class="container-fluid">
    <div class="card card-image mb-3" style="background-image: url(../../../assets/imagenes/articulo.jpeg);" >

      <!-- Content -->
      <div class="text-black text-center d-flex align-items-center rgba-yellow-strong py-5 px-4 ">
        <div>
          <h5 class="pink-text"> </h5>
          <h3 class="card-title pt-2"><strong>Extracto de la constitucion política del estado libre y soberano de Durango</strong></h3>
          <p>Las licitaciones públicas contempladas en la ley, tendrán por objeto asegurar al Estado las mejores condiciones disponibles en
             cuanto a precio, calidad, financiamiento, oportunidad y demás circunstancias pertinentes.</p>
            <a mdbBtn color="white" target=".blank" href="https://www.dropbox.com/s/9ml46ii2151i34s/NORMATIVIDAD-EXTRACTO%20DE%20LA%20CONSTITUCI%C3%93N%20POL%C3%8DTICA%20DEL%20ESTADO%20LIBRE%20Y%20SOBERANO%20DE%20DURANGO.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>
          
          
          

        </div>
      </div>
      <!-- Content -->
    </div>
    
    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url(../../../assets/imagenes/adqui.jpeg);">
    
      <!-- Content -->
      <div class="text-black text-center d-flex align-items-center rgba-green-strong py-5 px-4">
        <div>
          <h5 class="pink-text"></h5>
          <h3 class="card-title pt-2"><strong>Ley de adquisiciones, arrendamientos y servicios del estado de Durango</strong></h3>
          <p>Es una ley de orden público y de interés social,  tiene por objeto, reglamentar las disposiciones contenidas en el artículo 160, en su párrafo tercero, de la Constitución Política del Estado Libre y Soberano de Durango,  esta ley se entiende por La Secretaria de Finanzas y de Administración y La Secretaría de Contraloría.</p>
            <a mdbBtn color="white" target=".blank" href="https://www.dropbox.com/s/oxdf49dq1sdus1n/NORMATIVIDAD-LEY%20DE%20ADQUISICIONES%2C%20ARRENDAMIENTOS%20Y%20SERVICIOS%20DEL%20ESTADO%20DE%20DURANGO.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>
        </div>
      </div>
      <!-- Content -->
    </div>
   <!-- Card -->
   <div class="card card-image mb-3" style="background-image: url(../../../assets/imagenes/Odurango.jpeg);">
    
    <!-- Content -->
    <div class="text-black text-center d-flex align-items-center rgba-blue-strong py-5 px-4">
      <div>
        <h5 class="pink-text"></h5>
        <h3 class="card-title pt-2"><strong>Ley de obras públicas del estado de durango</strong></h3>
        <p>La presente ley es de orden público e interés social y tiene por objeto, reglamentar lo relativo a la planeación, programación, presupuestario, adjudicación, contratación, ejecución, conservación, mantenimiento, ampliación, demolición y control de obra pública que se lleve a cabo en el Estado</p>
          <a mdbBtn color="white" target=".blank" href="https://www.dropbox.com/s/l9h25dls2tu3lsc/NORMATIVIDAD-LEY%20DE%20OBRAS%20P%C3%9ABLICAS%20DEL%20ESTADO%20DE%20DURANGO.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url(../../../assets/imagenes/Durango.jpeg);">
    
      <!-- Content -->
      <div class="text-black text-center d-flex align-items-center rgba-green-strong py-5 px-4">
        <div>
          <h5 class="pink-text"></h5>
          <h3 class="card-title pt-2"><strong>Reglamento de la ley de adquisiciones, arrendamientos y servicios </strong></h3>
          <p>El contenido del presente reglamento en su conjunto dará continuidad a los principios establecidos por la Ley de Adquisiciones, Arrendamientos y Servicios, así como establecer los mecanismos, lineamientos y procedimientos que permitan asegurar al Estado y ayuntamientos</p>
            <a mdbBtn color="white" target=".blank" href="https://www.dropbox.com/s/61icg9r5pij8wat/NORMATIVIDAD-REGLAMENTO%20DE%20LA%20LEY%20DE%20ADQUISICIONES%2C%20ARRENDAMIENTOS%20Y%20SERVICIOS.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url(../../../assets/imagenes/Obras.jpeg);">
    
      <!-- Content -->
      <div class="text-black text-center d-flex align-items-center rgba-yellow-strong py-5 px-4">
        <div>
          <h5 class="pink-text"></h5>
          <h3 class="card-title pt-2"><strong>Reglamento de la ley de obras publicas</strong></h3>
          <p>El contenido del presente reglamento, facilitará la ejecución y observancia de la Ley; para el cumplimiento de su objetivo y finalidad, ya que en conjunto, ambos establecen los mecanismos, lineamientos, procedimientos y medidas preventivas</p>
            <a mdbBtn color="white" target=".blank" href="https://www.dropbox.com/s/b26wy87az9igzt5/NORMATIVIDAD-REGLAMENTO%20DE%20LA%20LEY%20DE%20OBRAS%20P%C3%9ABLICAS.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->

</div>


