<div class="container-fluid">


  <div class="card border-primary mb-3" style="max-width: 95rem;">
    <div class="card-header text-center">MARCO LEGAL</div>
    <div class="card-body text-primary">
      <h5 class="card-title"><img class="size-i mx-auto" src="../../../assets/imagenes/pdf.png" alt=""></h5>
      
          <a href="https://comprasestatal.durango.gob.mx/anexo/consulta/normatividad/descarga/21/marcolegal" class="btn btn-primary bo-m  mx-auto">DESCARGAR</a>
          
        </div>
      </div>
    
</div>
<!--https://comprasestatal.durango.gob.mx/anexo/consulta/normatividad/descarga/21/marcolegal-->