<div class="container-fluid">
    <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);" >

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 ">
        <div>
          <h5 class="pink-text"> </h5>
          <h3 class="card-title pt-2"><strong>Extracto de la constitucion política del estado libre y soberano de durango</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
            Odit sed qui, dolorum!.</p>
          <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View project</a>
          
          <h3 class="card-title pt-2  text-c "><strong class="">extracto de la constitución política del estado del estado libre y soberano de durango</strong></h3>
          <p>Poner la descripcion de lo que mas o menos trata este tramite entre mas texto pongan mejor se va a ver .</p>
          <a mdbBtn color="pink" target=".blank" href="https://www.dropbox.com/s/9ml46ii2151i34s/NORMATIVIDAD-EXTRACTO%20DE%20LA%20CONSTITUCI%C3%93N%20POL%C3%8DTICA%20DEL%20ESTADO%20LIBRE%20Y%20SOBERANO%20DE%20DURANGO.docx?dl=0" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> DESCARGAR</a>

        </div>
      </div>
      <!-- Content -->
    </div>
    
    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text"></h5>
          <h3 class="card-title pt-2"><strong>Ley de adquisiciones, arrendamientos y servicios del estado de Durango</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
            Odit sed qui, dolorum!.</p>
          <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View project</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->
    
    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
        <div>
          <h5 class="orange-text"></h5>
          <h3 class="card-title pt-2"><strong>Ley de obras publicas del estado de Durango</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
            Odit sed qui, dolorum!.</p>
          <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
            project</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
        <div>
          <h5 class="orange-text"></h5>
          <h3 class="card-title pt-2"><strong>Reglamento de la ley de adquisiciones, arrendamientos y servicios</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
            Odit sed qui, dolorum!.</p>
          <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
            project</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
        <div>
          <h5 class="orange-text"></h5>
          <h3 class="card-title pt-2"><strong>Reglamento de la ley de obras publicas</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
            Odit sed qui, dolorum!.</p>
          <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
            project</a>
        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Card -->

</div>


